html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-image: url(/cute-young-woman-meditation-yoga-cartoon.webp);
}

#title {
  font-family: cursive;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

#description {
  text-align: center;
  font-family: cursive;
  font-size: 20px;
}

#survey-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  width: 60%;
  margin: 2.5rem;
  padding: 2rem;
  background-color: rgb(207, 188, 207);
  font-size: 22px;
}

input,
select,
textarea {
  width: 100%;
  color: grey;
  font-size: 18px;
  padding: 6px;
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  border: solid 2px grey;
}

input:hover,
select:hover,
textarea:hover {
  border: 2px solid rgb(245, 237, 237);
}

.radio-group,
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
input[type='radio'],
input[type='checkbox'] {
  width: 10%;
  height: 20px;
}
