html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/cute-young-woman-meditation-yoga-cartoon.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.8; */
  color: white;
  padding: 2rem;
}

#title {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

#description {
  text-align: center;
  font-family: cursive;
  font-size: 20px;
}

#survey-form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  border-radius: 30px;
  width: 60%;
  margin: 2.5rem auto;
  padding: 2rem;
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  background-color: rgb(205, 177, 205);
}

input,
select,
textarea {
  width: 100%;
  color: rgb(38, 37, 37);
  font-size: 28px;
  padding: 6px;
  font-family: 'Alex Brush', cursive;
  font-weight: 400;
  font-style: normal;
  border: solid 2px rgb(151, 148, 148);
  border-radius: 10px;
}

input:hover,
select:hover,
textarea:hover {
  border: 2px solid rgb(245, 237, 237);
}

.radio-group,
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
input[type='radio'],
input[type='checkbox'] {
  width: 10%;
  height: 20px;
}
